html,
body {
  margin: 0;
  background-color: #f5f1e8;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

@-webkit-keyframes line {
  100% {
    width: 70%;
  }
}

@keyframes line {
  100% {
    width: 70%;
  }
}
.visual {
  width: 80%;
  margin: 65px auto;
}
.visual img {
  width: 100%;
}

.about_wrap {
  width: 80%;
  background-color: rgba(203, 202, 202, 0.37);
  margin: 230px auto;
  position: relative;
}
.about_wrap h2 {
  width: 50%;
  font-size: 35px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-150%);
}
.about_wrap h2 span {
  font-size: 30px;
}
.about_wrap h2 p {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 0;
  border-bottom: solid 6px #471160;
}
.about_wrap h2 p.active {
  -webkit-animation: line 1s ease forwards;
          animation: line 1s ease forwards;
}
.about_wrap .about {
  display: flex;
}
.about_wrap .about .about_logo {
  padding: 150px 100px;
}
.about_wrap .about .about_logo img {
  width: 393px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_wrap .about .about_cont {
  width: 44%;
  padding: 250px 0;
  margin-right: 100px;
}
.about_wrap .about .about_cont p {
  font-size: 18px;
  color: #3e3e3e;
  line-height: 30px;
}
.about_wrap .about .about_cont figure {
  margin: 70px auto;
  position: relative;
}
.about_wrap .about .about_cont figure img {
  width: 110%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_wrap .about .about_cont figure figcaption {
  color: #3e3e3e;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -150%);
}

.series_wrap {
  width: 80%;
  background-color: #fff;
  margin: 230px auto;
  position: relative;
}
.series_wrap h2 {
  width: 50%;
  font-size: 35px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-150%);
}
.series_wrap h2 span {
  font-size: 30px;
}
.series_wrap h2 p {
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 0;
  border-bottom: solid 6px #471160;
}
.series_wrap h2 p.active {
  -webkit-animation: line 1s ease forwards;
          animation: line 1s ease forwards;
}
.series_wrap .series {
  padding: 1px 0;
}
.series_wrap .series .series_01 {
  cursor: pointer;
  display: block;
  width: 77%;
  margin: 200px auto;
}
.series_wrap .series .series_01 img {
  width: 100%;
  content: url("../img/sig_01.png");
}
.series_wrap .series .series_02 {
  cursor: pointer;
  display: block;
  width: 77%;
  margin: 200px auto;
}
.series_wrap .series .series_02 img {
  width: 100%;
  content: url("../img/sig_02.png");
}
.series_wrap .series .series_03 {
  cursor: pointer;
  display: block;
  width: 77%;
  margin: 200px auto;
}
.series_wrap .series .series_03 img {
  width: 100%;
  content: url("../img/sig_03.png");
}
.series_wrap .series .series_04 {
  cursor: pointer;
  display: block;
  width: 77%;
  margin: 200px auto;
}
.series_wrap .series .series_04 img {
  width: 100%;
  content: url("../img/sig_04.png");
}
.series_wrap .series .series_05 {
  cursor: pointer;
  display: block;
  width: 77%;
  margin: 200px auto;
}
.series_wrap .series .series_05 img {
  width: 100%;
  content: url("../img/sig_05.png");
}/*# sourceMappingURL=about.css.map */