@import "common";

main{
    width: 1920px;
    .minum_bookshop{
        width:80%;
        margin:65px auto;
        img{width:100%;}
        .bookshop_main_content{
            display: none;
            &.current{
                display: inherit;
            }
        }
    }
    .bookshop_menu{
        margin: 0 auto;
        width: 361px; height: 38px;
        margin-top: 150px;
        margin-bottom: 150px;
        font-size: 20px;
        a{
            cursor: pointer;
            &:nth-child(1){
                float: left;
            }
            &:nth-child(2){
                float: right;
            }
            &.current{
                border: solid #471160;
                border-width: 2px 0 2px 0;
            }
        }
    }
    .bookshop_tab_content{
        margin: 0 auto;
        width: 80%;
        display: none;
        &.current{
            display: inherit;
        }
        .bookshop_item{
            margin: 0 auto;
            margin-bottom: 150px;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                li{
                    display: block;
                    .bookshop_item_box_1{
                        width: 350px;
                        height: 350px;
                        overflow: hidden;
                        cursor: pointer;
                        .bookshop_item_first_img{
                                width: 350px;
                                height: 350px;
                                transition: all 0.5s ease-in;
                        }
                        &:hover img{
                            transform: scale(1.2);
                        }
                    }
                    .bookshop_item_box_2{
                        width: 350px; height: 140px;
                        margin-bottom: 150px;
                        padding: 20px;
                        background-color: rgba($color: #ffffff, $alpha: 0.5);
                        position: relative;
                        b{
                            cursor: pointer;
                        }
                        p{
                            font-size: 20px;
                            display: block;
                            margin-top: 8px;
                        }
                        button{
                            width: 41px; height: 48px;
                            position: absolute;
                            bottom: 20px; right: 20px;
                            border: none;
                            background: none;
                            outline: none;
                        }
                    }
                }
            }
        }
        .bookclub{
            width: 100%; height: 100%;
            margin: 0 auto;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            text-align: center;
            .bookclub_box{
                .bookclub_first{
                    padding: 15% 0 10% 0;
                    font-size: 28px;
                }
                .bookclub_box_image{
                    img:nth-of-type(1){
                        padding-bottom: 15%;
                    }
                    img:nth-of-type(2){
                        padding-bottom: 10%;
                    }
                }
                .bookclub_info{
                    width: 58.7%; height: 922px;
                    border: 20px solid #fff;
                    margin: 0 auto;
                    text-align: start;
                    vertical-align: middle;
                    display: flex;
                    position: relative;
                    font-weight: bold;
                    img:nth-of-type(1){
                        margin: 8%;
                    }
                    .bookclub_info_w{
                        width: 40%;
                        position: absolute;
                        right: 10%;
                        top: 12%;
                        p{
                            font-size: 16px;
                            line-height: 23px;
                        }
                        div{
                            margin-top: 8%;
                            b{
                                font-size: 18px;
                            }
                            p{
                                margin-top: 9px;
                            }
                        }
                    }
                    img:nth-of-type(2){
                        position: absolute;
                        bottom: 5%;
                        right: 4%;
                    }
                }
                .bookclub_gift{
                    background-color: #fff;
                    width: 100%; height: 100%;
                    margin: 0 auto;
                    margin-top: 10%;
                    padding-top: 8%;
                    position: relative;
                    .bookclub_gift_1{
                        margin: 10% 0;
                        b{
                            font-size: 18px;
                        }
                        p{
                            font-size: 18px;
                            margin-top: 2%;
                            margin-bottom: 10%;
                        }
                    }
                    .bookclub_gift_2{
                        margin-top: 10%;
                        p{
                            font-size: 18px;
                        }
                        img{
                            margin-top: 5%;
                            padding-bottom: 15%;
                        }
                    }
                }
                button{
                    padding: 10% 0;
                    border: none; background: none;
                    cursor: pointer;
                    outline: none;
                }
                .bookclub_log{
                    display: block;
                    width: 60%; height: 80%;
                    position: absolute;
                    background-color: #fff;
                    left: 20%; top: 5%;
                    display: none;
                    &.active{
                        display: block;
                    }
                    .bookclub_log_close {
                        position: relative;
                        width: 34px;
                        height: 34px;
                        float: right;
                        margin-right: 33px;
                        margin-top: 33px;
                        .bookclub_log_close_line-box {
                            position: absolute;
                            top: 50%;
                            left: 0%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                            span {
                                position: absolute;
                                top: 50%;
                                width: 100%;
                                height: 2px;
                                background-color: #000;
                            }
                            .bookclub_log_close_line-01 {
                                transform: rotate(135deg) translateX(0%);
                            }
                            .bookclub_log_close_line-02 {
                                transform: rotate(45deg) translateX(0%);
                            }
                        }
                    }
                    .bookclub_log_image{
                        width:100%;
                    }
                    img{
                        padding-top: 2%;
                    }
                    p{
                        span{
                            font-weight: bold;
                        }
                        font-size: 50px;
                        padding-top: 15%;
                        line-height: 90%;
                    }
                    .bookclub_log_logo{
                        position: absolute;
                        bottom: 5%; right: 2.5%;
                    }
                }
            }
        }
    }
    .pup{
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(2px);
        z-index: 999;
        display: none;
        &:active{
            display: block;
        }
        .pup_wrap{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width:56%;
            height:83%;        
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border:solid 2px #000000;
            .pup_left{
                width:50%;
                height:100%;
                position:relative;
                border: 1px solid #000;
                .pupL_cont{
                    width:88%;
                    height:150%;
                    position:absolute;
                    left:30px; top:20px;
                    .pupL_cont_img{
                        width:100%; height: 100%;
                        img{vertical-align: top;}
                        div{
                            margin: 0 auto;
                            width: 90%; height: 28%;
                            margin-top: 10px;
                            img{width:100%; height: 100%;}
                        }
                        ul{
                            list-style: none;
                            display:flex; justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 5px;
                            margin: 20px 50px 0 50px;
                            li{
                                width: 45%; height: 20%;
                                z-index: 2;
                                margin-bottom: 5px;
                                img{width: 100%; height: 100%;}
                            }
                        }
                        p{
                            border:2px solid #471160;
                            position:absolute; left:0; top:0;
                            transition: 0s;
                            margin:0;
                            z-index: 2;
                        }
                    }
                }
            }
            .pup_right{
                width:50%; height:100%;
                border-right:solid 2px #000000;
                position:relative;
                border: 1px solid #000;
                .pupR_cont{
                    height:700px;
                    padding: 5px 0;
                    h2{
                        width: 80%;
                        background-color:#471160;
                        background-size:contain;
                        padding: 10px 15px;
                        color:#ffffff;
                        font-size: 36px;
                    }
                    .pupR_cont_price{
                        background-color:#471160;
                        color:#ffffff;
                        padding:10px 20px 10px 15px;
                        font-weight: bold;
                        position: fixed;
                        top: 18%;
                    }
                    .pupR_cont_line_1{
                        width: 424px;
                        position: fixed;
                        left: 55%; top: 25%;
                    }
                    .pupR_cont_line_2{
                        width: 424px;
                        position: fixed;
                        left: 55%; bottom: 15%;
                    }
                    figure{
                        width:416px;
                        margin: 0 auto;
                        position: fixed;
                        left: 55.5%; top: 30%;
                        font-size: 20px;
                        line-height: 30px;
                    }
                    p{
                        background-color:#471160;
                        width:60%;
                        color:#ffffff;
                        padding:13px;
                        position: absolute;
                        bottom: 30px;
                    }
                }
            }
            .btn{
                width:100%; height:100%;
                position:absolute;
                .btn_X {
                    position: relative;
                    width: 25px;
                    height: 25px;
                    float: right;
                    margin-right: 10px;
                    margin-top: 10px;
                    z-index: 1000;
                    .btn_X_line-box {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        span {
                            position: absolute;
                            top: 50%;
                            width: 100%;
                            height: 2px;
                            background-color: #000;
                        }
                        .btn_X_line-01 {
                            transform: rotate(135deg) translateX(0%);
                        }
                        .btn_X_line-02 {
                            transform: rotate(45deg) translateX(0%);
                        }
                    }
                }
                .btn_prev{
                    position:absolute;
                    left:0;
                    top:50%;
                    margin:10px;
                }
                .btn_next{
                    position:absolute;
                    right:0;
                    top:50%;
                    margin:10px;
                }
            }
        }
    }
}


